.container {
  padding: 12px;
  font-family: var(--font-poppins);
  background-color: #f9f9ff;
  border-radius: 10px;
  position: relative;

  &Card {
    position: absolute;
    top: 12px;
    left: 12px;

    &Title {
      display: flex;
      align-items: self-start;
      gap: 6px;

      h4 {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 5px;
      }

      img {
        display: flex;
        margin-top: 2px;
      }
    }

    &Info {
      display: flex;
      gap: 10px;

      &Subtitle {
        font-size: 1rem !important;
        font-weight: 600;
      }

      span {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        margin-top: 2px;
      }
    }
  }

  &Chart {
    margin-top: 15px;
    height: 129.74px;
  }

  .positive {
    color: #05c283;
  }

  .negative {
    color: #ef4444;
  }
}
